/***************************** Start Animations *****************************/
@keyframes translateY {

    0%,
    100% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(-2px);
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
@keyframes translateX {

    0%,
    100% {
        transform: translateX(2px);
    }

    50% {
        transform: translateX(-2px);
    }
}
@keyframes toRightFromLeft {
    49% { transform: translate(100%); }
    50% { opacity: 0; transform: translate(-100%); }
    51% { opacity: 1; }
}