@media (max-width: 999px) {
    .navbar{
        .top-nav{
            .nav-form-content , .drop-list-name ,  .user-list .user-data {
                display: none !important;
            }

            .hamburger{
                display: block !important;
            }
        }
        .bottom-nav{
            position: absolute;
            width: 100%;
            height: 100vh;
            overflow-y: scroll;
            top: 204px;
            right: -100%;
            z-index: 999;
            background-color: #fff;
            transition: all .4s linear;
            .nav-form-content{
                display: block !important;
            }
            .nav-content{
                flex-direction: column !important; 
                justify-content: flex-start !important;

                .navbar-nav{
                    flex-direction: column !important;

                    .nav-item{
                        margin: 0px !important;

                        .nav-link{
                            padding: 5px 0px !important;
                        }
                    }
                }
            }
        }
        .top-nav-content{
            
            .drop-list-item{
                padding-inline-end: 3px !important;
            }

            .user-list .user-item{
                margin-inline-end: 8px !important;
            }
        }
    }

    .acitve-nav{
        right: 0px !important;
    }

    .container.owl-nav{
        top: unset !important;
        bottom: 0px;

        .owl-prev{
            right: 40% !important;
            transform: translateX(50%) translateY(0px)  !important;
        }

        .owl-next{
            left: 40% !important;
            transform: translateX(-50%) translateY(0px)  !important;
        }
    }

    .produt-banner{
        .container.owl-nav{
            bottom: -10px !important;
        }
    }

    .produt-banner .banner{
        flex-direction: column !important;

        .banner-content{
            width: 100% !important;
            flex-direction: column !important;
            padding: 20px 10px !important;
            text-align: center;
            p{
                margin-bottom: 20px !important;
            }
        }

        .banner-img{
            width: 100% !important;
        }
    }

    .heading .see-all{
        top: unset !important;
        transform: translateY(0px) !important;
    }

    .product-box.flex-box{
        flex-direction: column !important;

        .product-image{
            width: 100% !important;
            height: 230px;
        }

        .product-contain{
            width: 100% !important;
        }

        .product-fav{
            background-color: #fff !important;
            z-index: 9999 !important;
        }
    }

    .general-pattern::after{
        background-size: contain !important;
    }

    .copyrights{
        .content{
            flex-direction: column !important;
            justify-content: center !important;

            p{
                margin-bottom: 10px;
                font-size: 13px !important;
            }
        }
    }
    .button-contain.flex-end-btn{
        justify-content: center !important;
        margin-top: 20px !important;
    }

    footer{
        .imp-links ,
        .cat-links{
            padding: 0px !important;
        }
    }

    .sub-header .content .sub-list .sub-item .link, .sub-header .content .sub-list .sub-item .title{
        font-size: 11px;
    }

    .order-mobile-0{
        order: 0 !important;   
    }
    .order-mobile-1{
        order: 1 !important;
    }

    .sing-in .sing-in-contain{
        padding: 45px 10px !important;
    }
}

@media (max-width: 350px) {
    .drop-item-img{
        display: none !important;
    }
}